@model ZenithLanka.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h1 class="h2">Sign in</h1>

<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList" class="pt-3">
                <p>Once you've signed up for a free account you'll be able to access any of our free items.</p>
                @*<p>Invited people only</p>*@
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        if (p.AuthenticationType == "Google")
                        {
                            <button type="submit" class="btn btn-danger" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Click Here for Login</button>
                        }
                        @*if (p.AuthenticationType == "Facebook")
                        {
                            <button type="submit" class="btn btn-primary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Login @p.AuthenticationType</button>
                        }*@

                    }
                </p>
            </div>
        }
    }
}
